include RTOC/*
include RTOC/data/*
include RTOC/RTOC_GUI/ui/*
include RTOC/data/lib/*
include RTOC/RTOC_GUI/ui/icons/*
include RTOC/RTOC_GUI/ui/icons/dark/*
include RTOC/lang/*
recursive-include RTOC *
