# /etc/systemd/system/RTOC.service

[Unit]
Description=RealTime OpenControl
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/kellerlogger/
ExecStart=/home/pi/kellerlogger/loggerServer.py
SyslogIdentifier=RTOC
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
